<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chorus/Flanger - AU.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Chorus/Flanger - All.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Chorus/Flanger - Shared Code.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chorus/Flanger - Standalone Plugin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Chorus/Flanger - VST3.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33587C4A36A01035B67A4DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43251843DA05FF6FB80D3F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529F441237C85DE0EACFD8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D6C97994C1612829E6A59B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2931E6B32219C3D20885F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
